<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SPATest</title>

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/")Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/")Content/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/")Content/toastr.min.css">
</head>
<body style="margin: 0; background-image: url('@Url.Content("~/")Images/Background1.png'); background-color: #FFFFFF">
    <script src="@Url.Content("~/")Scripts/require.js" data-main="@Url.Content("~/")Scripts/require.config.js"></script>

    <div id="baseURL" style="display: none">@Url.Content("~/")</div>

    <div id="selectedAppViewPort" style="width: 100%; margin-top: 5px;">

    </div>
</body>
</html>